.line-6 {
    left: 375px !important;
    width: 150px;
    top: 0px;
}

.text-connect{
    overflow: hidden;
   display: -webkit-box !important;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical
}

.text-connect-flex{
    padding: 0 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}



@media only screen and (min-width: 768px) {
    .left-544{
        left: 544px !important;
    }
    .left-760{
        left: 760px !important;
    }
    .left-subtraction-115{
        left: -115px !important;
    }
  }
